<% include partials/header.ejs %>
<link rel="stylesheet" href="stylesheets/main.css">

<body class="login">
  <div class="wrap">

  <% if (message.length > 0) { %>
    <div class = "alert alert-danger text-center">
    <%= message %>
    </div>
  <% } %>


  <div class="container-fluid logPage">
    <div class="logo">
      <a href="/"><img src="images/Logo.png" alt=""></a>
    </div>
    <div class="logLead">
      Log in to your Foodmon Account!
    </div>
    <form action="/login" method = "post">
      <input type="text" class="yourName" placeholder="Username"   name="username" id="username" autofocus value = <%=username %>>
      <input type="password" class="yourPass" placeholder="Password"name="password" id="password">
      <input type="submit" value="Log in!" class = "log">
      <a href="/signup">Don't have an account? Create one here</a>
     </form>
  </div>
<% include partials/footer.ejs %>