<% include partials/header.ejs %>
<link rel="stylesheet" href="stylesheets/main.css">

<body class="sign">
  <div class="wrap">

    <% if(typeof message !== 'undefined') {%>
    <div class="alert alert-danger text-center">
    <%= message %>
    </div>
    <% }%>



    <div class="container-fluid signPage">
      <div class="logo">
        <a href="/"><img src="http://i.imgur.com/1Z1ANnS.png?1" alt=""></a>
      </div>
      <div class="signLead">
        Sign up For Foodmon now!
      </div>
      <form action="/signup" method = "post">
        <input type="text" class="yourName" placeholder="Username"   name="username" id="username" autofocus value = <%=username %>>
        <input type="password" class="yourPass" placeholder="Password"name="password" id="password">
        <input type="submit" value="Sign up!" class = "create">
        <a href="/login" style="color:#94C3EA;">Already have an account? Log in here</a>
      </form>

<!--   <a href="/login">Already have an account? Log in here</a> -->
    </div>








<% include partials/footer.ejs %>